* {
	box-sizing: border-box;
}

body {
	margin: 4px;
}

table, tr, td {
	border: 1px solid;
}

table{
    margin: 5px 0;
}

td {
    padding: 6px;
}

table:last-child {
    height: 100%;
    width: 100%;
}